/* page reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; 	/* 1rem = 10px */
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 48%; /* 8px */
  }
}

body {
	font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--color-grey-dark-1);
  box-sizing: border-box;
  overflow-x: hidden;
}


:root {
  /* Global variables */
  --color-primary: #527A45;
  /* --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d; */

  --color-secondary: #3F5061;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-darkest: #181818;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 4px 4px 5px 0 rgba(0,0,0,0.30);
  --shadow-light: 2px 2px 2px 0 rgba(0, 0, 0, 0.15);


  /* Breakpoints */
  --bp-largest: 75em; /* 1200/16 = 75 */
  --bp-large: 68.75em; /* 1100px */
  --bp-medium: 56.25em; /* 900px */
  --bp-small: 37.5em; /* 600px */
  --bp-smallest: 31.25em; /* 500px */
}

/* Material Icons */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: #ECECEC; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
